
<link href="~/content/bootstrap.css" rel="stylesheet" />
<link href="~/content/bootstrap.min.css" rel="stylesheet" />
<a href="~/content/bootstrap.css.map">~/content/bootstrap.css.map</a>
<a href="~/content/bootstrap.min.css.map">~/content/bootstrap.min.css.map</a>
<link href="~/content/bootstrap-grid.css" rel="stylesheet" />
<link href="~/content/bootstrap-grid.min.css" rel="stylesheet" />
<a href="~/content/bootstrap-grid.css.map">~/content/bootstrap-grid.css.map</a>
<a href="~/content/bootstrap-grid.min.css.map">~/content/bootstrap-grid.min.css.map</a>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Name</th>
    </tr>
    <tr>
        <th>1</th>
        <th>1werewr</th>
        <th>ewrewr</th>
        <th>etrert</th>
    </tr>
</table>